// Colours

$black: #000;
$blue: #16315C;
$yellow: #D8BB6F;
$teal: #3E6D78;

// Font Families

@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700);

$oswald: 'Oswald', Helvetica, Arial, sans-serif;
$droid: 'Droid Serif', Times New Roman, Georgia, serif;

$header: $oswald;
$body: $droid;