.grid {
  margin: 0;
  padding: 0;
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
}

.grid-bottom {
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
}

.grid-middle {
  -webkit-align-items: center;
  -ms-align-items: center;
}

.opera-only :-o-prefocus, .grid {
  word-spacing: -0.43em;
}

.unit {
  letter-spacing: normal;
  text-rendering: auto;
  vertical-align: top;
  word-spacing: normal;
  display: inline-block;
  visibility: visible;
}

.grid-bottom .unit {
  vertical-align: bottom;
}

.grid-middle .unit {
  vertical-align: middle;
}

.unit-xs-hidden {
  display: none;
  visibility: hidden;
}

.unit-xs-1 {
  display: block;
  visibility: visible;
  width: 100%;
}

.unit-offset-xs-0 {
  margin-left: 0;
}

.unit-xs-1-2 {
  width: 50.0000%;
}

.unit-offset-xs-1-2 {
  margin-left: 50.0000%;
}

.unit-xs-1-3 {
  width: 33.3333%;
}

.unit-offset-xs-1-3 {
  margin-left: 33.3333%;
}

.unit-xs-2-3 {
  width: 66.6667%;
}

.unit-offset-xs-2-3 {
  margin-left: 66.6667%;
}

.unit-xs-1-4 {
  width: 25.0000%;
}

.unit-offset-xs-1-4 {
  margin-left: 25.0000%;
}

.unit-xs-3-4 {
  width: 75.0000%;
}

.unit-offset-xs-3-4 {
  margin-left: 75.0000%;
}

.unit-xs-1-2,.unit-xs-1-3,.unit-xs-2-3,.unit-xs-1-4,.unit-xs-3-4 {
  display: inline-block;
  visibility: visible;
}

@media only screen and (min-width: 25em) {

.unit-s-hidden {
  display: none;
  visibility: hidden;
}

.unit-s-1 {
  display: block;
  visibility: visible;
  width: 100%;
}

.unit-offset-s-0 {
  margin-left: 0;
}

.unit-s-1-2 {
  width: 50.0000%;
}

.unit-offset-s-1-2 {
  margin-left: 50.0000%;
}

.unit-s-1-3 {
  width: 33.3333%;
}

.unit-offset-s-1-3 {
  margin-left: 33.3333%;
}

.unit-s-2-3 {
  width: 66.6667%;
}

.unit-offset-s-2-3 {
  margin-left: 66.6667%;
}

.unit-s-1-4 {
  width: 25.0000%;
}

.unit-offset-s-1-4 {
  margin-left: 25.0000%;
}

.unit-s-3-4 {
  width: 75.0000%;
}

.unit-offset-s-3-4 {
  margin-left: 75.0000%;
}

.unit-s-1-2,.unit-s-1-3,.unit-s-2-3,.unit-s-1-4,.unit-s-3-4 {
  display: inline-block;
  visibility: visible;
}

}

@media only screen and (min-width: 38em) {

.unit-m-hidden {
  display: none;
  visibility: hidden;
}

.unit-m-1 {
  display: block;
  visibility: visible;
  width: 100%;
}

.unit-offset-m-0 {
  margin-left: 0;
}

.unit-m-1-2 {
  width: 50.0000%;
}

.unit-offset-m-1-2 {
  margin-left: 50.0000%;
}

.unit-m-1-3 {
  width: 33.3333%;
}

.unit-offset-m-1-3 {
  margin-left: 33.3333%;
}

.unit-m-2-3 {
  width: 66.6667%;
}

.unit-offset-m-2-3 {
  margin-left: 66.6667%;
}

.unit-m-1-4 {
  width: 25.0000%;
}

.unit-offset-m-1-4 {
  margin-left: 25.0000%;
}

.unit-m-3-4 {
  width: 75.0000%;
}

.unit-offset-m-3-4 {
  margin-left: 75.0000%;
}

.unit-m-1-2,.unit-m-1-3,.unit-m-2-3,.unit-m-1-4,.unit-m-3-4 {
  display: inline-block;
  visibility: visible;
}

}

@media only screen and (min-width: 60em) {

.unit-l-hidden {
  display: none;
  visibility: hidden;
}

.unit-l-1 {
  display: block;
  visibility: visible;
  width: 100%;
}

.unit-offset-l-0 {
  margin-left: 0;
}

.unit-l-1-2 {
  width: 50.0000%;
}

.unit-offset-l-1-2 {
  margin-left: 50.0000%;
}

.unit-l-1-3 {
  width: 33.3333%;
}

.unit-offset-l-1-3 {
  margin-left: 33.3333%;
}

.unit-l-2-3 {
  width: 66.6667%;
}

.unit-offset-l-2-3 {
  margin-left: 66.6667%;
}

.unit-l-1-4 {
  width: 25.0000%;
}

.unit-offset-l-1-4 {
  margin-left: 25.0000%;
}

.unit-l-3-4 {
  width: 75.0000%;
}

.unit-offset-l-3-4 {
  margin-left: 75.0000%;
}

.unit-l-1-2,.unit-l-1-3,.unit-l-2-3,.unit-l-1-4,.unit-l-3-4 {
  display: inline-block;
  visibility: visible;
}

}
