@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}


*, *:before, *:after {
	box-sizing: inherit;
}

body {
	@include zero;
	&.noscript .close-btn,
	&.noscript .toggle-btn {
		display: none;
	}
}

header {
	padding: 0 1em;
	position: relative;
}

h1 {
	color: $blue;
}

.toggle-btn {
	position: absolute;
	right: 1em;
	top: 0;
}

.navigation ul {
  padding: 0;
  li {
    list-style-type: none;
    color: $blue;
    &:first-child a {
      border-top: 1px solid $teal;
    }
  }
  a {
    padding: .5em 1em;
    border-bottom: 1px solid $teal;
    text-decoration: none;
    display: block;
    color: $blue;
    text-align: center;
  }
}

.toggle-btn,
.close-btn {
  color: $blue;
  text-decoration: none;
  height: 40px;
  width: 40px;
  &:before {
    border: 1px solid $teal;
    display: inline-block;
    padding: 13px 11px;
    height: 40px;
    width: 40px;
  }
  span {
    @include element-invisible;
  }
}