<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BlueVoice{% if page.titleAfter %} · {{page.titleAfter}}{% endif %}</title>
  <!-- ----- META NAME ----- -->
    <meta name="description" content="{{page.meta}}">
    <meta name="handheldfriendly" content="true">
    <meta name="mobileoptimized" content="240">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- ----- META PROPERTY ----- -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="BlueVoice · Home">
    <meta property="og:url" content="https://bluevoice.org">
    <meta property="og:image" content="http://fullurl.com/to-this/image.jpg">
    <meta property="og:site_name" content="BlueVoice · Home">
    <meta property="og:description" content="Saving Dolphins & Whales; Protecting the Oceans">
  <!-- ----- LINKS ----- -->
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
    <link href="https://file.myfontastic.com/QGxgiFpq4RvHbdEHEnqzi5/icons.css" rel="stylesheet">
    <link rel="author" href="humans.txt">
    <link href='https://fonts.googleapis.com/css?family=Oswald:700,400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
  </head>
  <body class="noscript">
    <div class="site-wrapper " data-state="slide-close">
      <div class="sliding-canvas ">
        <header class="header cf">
          <a href="{{site.baseurl}}"><img class="logo-header" src="{{site.baseurl}}/images/logo.svg">
          <h1>BlueVoice</h1></a>
          <a class="toggle-btn icon-bars" href="#main-menu"><span>Menu</span></a>
          <nav class="navigation slide-menu">
            <a class="close-btn icon-times" href="#main-menu"><span>Close</span></a>
            <ul>
              <li><a href="{{site.baseurl}}/">Home</a></li>
              <li><a href="{{site.baseurl}}/about">About</a></li>
              <li><a href="http://www.cafepress.com/bluevoice">Shop</a></li>
              <li><a href="{{site.baseurl}}/news">News</a></li>
                <!-- Sublinks
                <li><a href="#">Dolphins</a></li>
                <li><a href="#">Orcas</a></li>
                <li><a href="#">Sharks</a></li>
                <li><a href="#">Whales</a></li>
                <li><a href="#">Ocean Issues</a></li>
                <li><a href="#">BlueView Blog</a></li>
                <li><a href="#">Media Center</a></li>
                -->
              <li><a href="{{site.baseurl}}/film/">Films</a></li>
                <!-- Sublinks
                <li><a href="#">Dolphins</a></li>
                <li><a href="#">Humpback Whales</a></li>
                <li><a href="#">Manta Rays</a></li>
                <li><a href="#">Orcas</a></li>
                <li><a href="#">Sealions</a></li>
                <li><a href="#">Sharks</a></li>
                <li><a href="#">Whales</a></li>
                -->
              <li><a class="donate" href="#">Donate</a></li>
            </ul>
          </nav>
        </header>

        <main>
          {{content}}
        </main>

        <footer class="">
          <img class="logo-footer" src="{{site.baseurl}}/images/logo.svg">
          <ul>
              <li><a href="{{site.baseurl}}/">Home</a></li>
              <li><a href="{{site.baseurl}}/about">About</a></li>
              <li><a href="http://www.cafepress.com/bluevoice">Shop</a></li>
              <li><a href="{{site.baseurl}}/news">News</a></li>
              <li><a href="{{site.baseurl}}/film">Films</a></li>
              <li><a class="donate" href="#">Donate</a></li>
          </ul>
        </footer>
      </div> <!-- /sliding-canvas -->
    </div> <!-- /site-wrapper -->
  <!-- ----- JS ----- -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{site.baseurl}}/js/main.js"></script>
  </body>
</html>
